.body {
    display: flex;
    justify-content: center;
}

.calculator {
    display: flex;
    flex-direction: column;
    width: 250px;
    align-items: center;
}

.display {
    color: black;
    height: 30px;
    width: 250px;
    margin-bottom: 20px;
}

.keyboard {
    display: flex;
}

button {
    min-width: 50px;
    flex: 1;
}

.numberButtons {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 180px;
}

.functionButtons {
    display: flex;
    flex-flow: column;
    height: 180px;
    margin-left: 30px;
}